/** @format */

.ant-layout {
  background: initial;
}

.app-header.ant-layout-header {
  position: sticky;
  top: 0;
  z-index: 20;
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  height: 80px;
  padding: 0 20px;
  line-height: initial;
  background: #fff;
  box-shadow: 0 1px 4px rgb(0 21 41 / 8%);
}

.app-sidebar.ant-layout-sider {
  position: sticky;
  top: 0;
  height: 100vh;
  overflow: hidden;
}

.app-menu {
  position: relative;
  height: calc(100vh - 64px);
  margin-top: 0;
}

.app-main {
  position: relative;
  padding: 20px;
}

.app-container {
  padding: 20px;
}
