/** @format */

:root {
  --primary-color: #{$primary-color};
  --secondary-color: #{$secondary-color};
  --primary-border-color: #{rgbaColor()};
  --primary-box-shadow-color: #{rgbaColor()};
}

ul,
li {
  padding: 0;
  margin: 0;
  list-style: none;
}
