/** @format */

:root {
  --primary-color: #{$primary-color};
  --secondary-color: #{$secondary-color};
}

.icon {
  width: 1em;
  height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

.pr {
  position: relative;
}

.pa {
  position: absolute;
}

.flex,
.i-flex {
  display: flex;

  &.jb {
    justify-content: space-between;
  }
  &.ac {
    align-items: center;
  }
  &.ae {
    align-items: flex-end;
  }
}
