/** @format */

$primary-color: #e14e6f;
$secondary-color: #57b2b0;

:root {
  --primary-color: #{$primary-color};
  --secondary-color: #{$secondary-color};
}

body {
  margin: 0;
}

.container {
  padding: 0px 20px 20px 52px;
}
